@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Spicy+Rice&display=swap');

.primary {
    font-family: "Spicy Rice", serif;
}

.p-text {
    font-family: "Mukta", sans-serif;
}

.btn-text{
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;

}

.cartoon-button-2 {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    border: 3px solid orange; /* Sky blue border */
    box-shadow: 4px 4px 0 orange; /* Sky blue shadow */
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.cartoon-button-2:hover {
    transform: translateY(-2px);
    box-shadow: 6px 6px 0 orange; /* Larger shadow on hover */
}
.cartoon-button-2:active {
    transform: translateY(1px);
    box-shadow: 3px 3px 0 orange; /* Smaller shadow on active */
}   

.input-style {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    border: 3px solid orange; /* Sky blue border */
    box-shadow: 4px 4px 0 orange; /* Sky blue shadow */
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.input-style:active {
    transform: translateY(1px);
    box-shadow: 3px 3px 0 orange; /* Smaller shadow on active */
}   